*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: rgb(8, 119, 52);
    width: 100%;
    height: 100vh;

}

.box{
    width: fit-content;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(28, 33, 29, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.row{
    margin: 7px;
}

h1{
    color: white;
}




label{
    margin-right: 20px;
    font-size: 20px;
    color: white;
}

#btn{
    margin: 7px;
   
}